<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href=" ">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>pulished 14.06.2014, 12:14</p>
            <h2><a href=" ">My first post</a></h2>
            <p>Primo post</p>
        </div>

        <div>
            <p>pulished 14.06.2014, 12:14</p>
            <h2><a href=" ">My second post</a></h2>
            <p>Secondo post</p>                 
        </div>
    </body>
</html>
